* {
  box-sizing: border-box;
}

@font-face {
  font-family: "KingdomHearts";
  src: url("./Kingdom_Hearts_Font.ttf");
}

body {
  margin: 0;
  padding: 0;
  background: url("../images/p2.jpg") no-repeat fixed;
  background-position: 67%;
  background-size: cover;
  background-color: rgb(33, 36, 37);
}

a {
  text-decoration: none;
}

/* need black border around letters */
#title a {
  display: flex;
  padding: 0;
  margin: -3rem;
  justify-content: center;
  color: transparent;
  font-size: 200px;
  font-family: 'KingdomHearts';
  background: rgb(100, 100, 100);
  background: linear-gradient(180deg, rgba(100, 100, 100, 1) 35%, rgba(189, 189, 189, 1) 91%);
  background-clip: text;
}

#credit {
  padding: 0;
  margin: 0 2rem;
}

#credit p {
  font-weight: bold;
}

.line {
  margin: 0;
  border-bottom: 4px solid;
  border-bottom-color: linear-gradient(90deg, rgba(0, 0, 0, 1) 58%, rgba(255, 255, 255, 1) 91%);
}

.developed {
  font-size: 15px;
}

.author {
  text-indent: 10px;
  font-size: 17px;
}

/* .credit { */
/*   margin-left: 20px; */
/*   margin-top: 10px; */
/*   margin-bottom: 0; */
/*   font-size: 20px; */
/*   font-weight: bold; */
/*   text-decoration: underline; */
/* } */
/**/
/* .author { */
/*   margin-top: -1px; */
/*   margin-left: 40px; */
/*   font-size: 25px; */
/*   font-weight: bold; */
/* } */

/* .heart-title { */
/*   background: url("../images/heart.png") no-repeat center; */
/*   ; */
/* } */
